.status-bar{ /*class라서 .(dot)를 사용 id는 .을 뺀다*/
    display: flex; /*요소들 같은라인에 정렬시키기*/
    justify-content: center;/*felx축 따라 떨어트려서 정렬*/
    padding: 5px 3px; /*아이콘과 span의 위 아래 옆에 공백추가*/
}

.status-bar__column{
    width: 33%;
}

.status-bar__column:first-child span{/*NO Service 지정*/
margin-right: 5px;/*sapn 오른쪽 기준으로 공백만들기*/
}
.status-bar__column:nth-child(2){
    display: flex;
    justify-content: center;
}

.status-bar__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column .fa-battery-full{
    margin: 0px 5px; /*위아래 0마진 양 옆은 5만큼 공백 만듦*/
}